// 颜色定义规范
$color-background = #eee
$color-background-d = rgba(0, 0, 0, 0.3)
$color-highlight-background = #333
$color-dialog-background = #666
$color-theme = #ffcd32
$color-theme-d = rgba(255, 205, 49, 0.5)
$color-sub-theme = #d93f30
$color-text = #fff
$color-text-d = rgba(255, 255, 255, 0.3)
$color-text-l = rgba(255, 255, 255, 0.5)
$color-text-ll = rgba(255, 255, 255, 0.8)

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px

/* 水平间距 */
$spacing-row-sm = 10px;
$spacing-row-base = 20px;
$spacing-row-lg = 30px;

/* 垂直间距 */
$spacing-col-sm = 8px;
$spacing-col-base = 16px;
$spacing-col-lg = 24px;

$ele-brand-color = #409EFF;
$ele-success = #67C23A;
$ele-warming = #E6A23C;
$ele-danger = #F56C6C;
$ele-info = #909399;

$ele-font-main-color = #303133;
$ele-font-common-color = #606266;
$ele-font-secondary-color = #909399;
$ele-font-placeholder-color = #C0C4CC;

$ele-border-color-l = #DCDFE6;
$ele-border-color-ll = #E4E7ED;
$ele-border-color-lll = #EBEEF5;
$ele-border-color-llll = #F2F6FC;


